<div class="container mt-4">
  <div class="row row-cols-md-4 g-4">
    <div class="col" *ngFor="let item of usersList">
      <div class="card pt-3 h-100 shadow" >
        <img
          src="{{item.image}}"
          class="m-auto d-block float-end rounded-circle w-75"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title text-center mb-4">{{item.first_name}} {{item.last_name}}</h5>
          <div class="d-flex justify-content-around">
            <div class="text-center">
              <i class="fa-solid fa-magnifying-glass"></i>
              <p class="card-title">Ver detalles</p>
            </div>
            <div class="text-center">
              <i class="fa-solid fa-arrow-rotate-right"></i>
              <p class="card-title">Actualizar</p>
            </div>
            <div class="text-center">
              <i class="fa-solid fa-trash-can"></i>
              <p class="card-title">Borrar</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
