i{
    &.fa-solid{
        font-size: 20px;
        color: #6c757d;

        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }
    }
    
}

p{
    &.text-muted{
        margin-bottom: 0px;
        font-size: 12px;
    }
}

li{
    &.page-item{
        cursor: pointer;    
    }

    &.active, &.disabled{
        cursor: auto;
    }
}